footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #82c341;
}

.footer-column p, 
.footer-column ul li {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
   
}

.footer-column ul li a:hover {
    color: #82c341;
}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Makes icon white */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}